<h1> <%= @meetup.name %> </h1>

<% if @signed_in_user && @signed_in_user.username == @meetup.creator.username %>
  <h3>You created this Meetup!</h3>
<% else %>
  <h3>Organizer: <img src="<%= @meetup.creator.avatar_url %>" alt="<%= @meetup.creator.avatar_url %>"/> <%= @meetup.creator.username %> </h3>
<% end %>

<li>Location: <%= @meetup.location %></li>
<li>Description: <%= @meetup.description %></li>

<% if @signed_in_user.nil? || (@signed_in_user && !@meetup.users.include?(@signed_in_user)) %>

<form action="/meetups/<%=@meetup.id%>" method="post">
  <input type="submit" name="Join Meetup" id="Join Meetup" value="Join Meetup">
</form>
<% end %>

<h3>Attendees List:</h3>
<% @meetup.attendees.each do |attendee|%>
  <img src="<%= attendee.avatar_url %>" alt="<%= attendee.avatar_url %>" /> <li><%= attendee.username %></li>
<% end %>
